<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a [routerLink]="['/array']" routerLinkActive="router-link-active">Array</a>
  <a [routerLink]="['/dict']" routerLinkActive="router-link-active">Dict</a>
</div>

<router-outlet></router-outlet>
