

<table *ngIf="response$ | async">
    <thead>
        <tr>
            <th *ngFor="let header of headers">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let count of characterCounts">
            <td *ngFor="let item of count">{{item}}</td>            
        </tr>
    </tbody>
</table>

