<div *ngIf="data$ | async as data">
    <div *ngIf="data.success">
        <table *ngIf="data.success">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Number</th>
                    <th>Quantiy</th>
                    <th>First Position</th>
                    <th>Last Position</th>
                </tr>
            </thead>
            <tbody *ngFor="let element of tableArray; index as i">
                <tr [ngClass]="{
                        'bg-green': countOccurrences(element)>=2,
                        'bg-yellow': countOccurrences(element) === 1}">
                    <td>{{ i }}</td>
                    <td>{{ element }}</td>
                    <td>{{ countOccurrences(element) }}</td>
                    <td>{{ fullArray.indexOf(element) }}</td>
                    <td>{{ fullArray.lastIndexOf(element) }}</td>
                </tr>
            </tbody>
        </table> 

        
        <input style="width: 100%" type="text" [value]=sortedArray.toString()>
    
    </div>
</div>