/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}

td, tr {
    margin: 20px;
    text-align: center;
}